/*   ::: RESET : default style for interbrowsers compatibility :::   */

:where(html) {
    scroll-behavior: smooth;
    z-index: 0;
}

:where(html, body) {
    width: 100vw;
}

:where(header,nav,main,section,article,footer,img) {
    width: 100%;
}

:where(*) {
    box-sizing: border-box;
    padding: none;
    margin: none;
    overflow-x: hidden;
}

:where(ul,ol,dl) {
    list-style: none;
}

:where(li,dt,dd) {
    text-indent: none;
}

:where(li>a) {
    display: inline-block;
}

:where(img) {
    object-fit: cover;
}

:where(figure,fieldset,ul,ol,dl) {
    display: flex;
    justify-content: center;
}

:where(a,:any-link,:-moz-any-link) {
    color: black;
    text-decoration: none;
}

:where(::-webkit-search-cancel-button) {
    display: none;
}



/*   ::: COLORS :::   */

/* variables */
:root {
    --cream: #f4e4d6;
    --darkgreen: #333333;
    --lightgreen: #edefee;
}
/* backgrounds */

body {
    background-color: var(--lightgreen);
}

.darkgreen-bg {
    background-color: var(--darkgreen);
}

.darkgreen-bg * {
    background: none;
}

.cream-bg {
    background-color: var(--cream);
}

.cream-bg * {
    background: none;
}

/* text : contrast on background */
:is([style="background-color:var(--cream)"],
[style="background:var(--lightgreen)"]) :not(.card-link) {
    color: black;
}

[style="background-color:var(--lightgreen)"] {
    color: var(--lightgreen);
}

.darkgreen-bg .txt {
    color: var(--lightgreen);
}

.card-link {
    color: blue;
}



/*   ::: FONTS :::   */

/* variables */
:root {
  --golden-ratio: 1.618;
  --nav-link-size: calc(var(--golden-ratio) * 1rem);
}

.nav-link {
    font-size: var(--nav-link-size);
    font-family: 'Baskerville', Helvetica, sans-serif;
    font-weight: 500;
}



/*   ::: SPACES :::   */

/* variables */

/* page's margins */
body {
    padding: 3rem;
}

/* articles's gap */

/* nav bar's padding */


/* nav links's spacement */
.nav-bar {
    gap: 1rem;
}

/* footer items's spacement */

/* main's padding */

/* card items's gap */




/*   ::: CONTAINERS :::   */

/* variables */

/* flexboxes */
.nav-bar,
.promo-banner
.card,
footer {
    display: flex;
}

.nav-bar {
    height: calc(var(--nav-link-size) * var(--golden-ratio));
    align-items: center;
}

/* grids */
body,
.cards-container {
    display: grid;
}



/*   ::: ITEMS :::   */

/* variables */

/* flex items */

/* grid cells */

/* dimensions */



/*   ::: IMAGES :::   */
#header-logo {
    width: calc(100% / var(--golden-ratio));
}


/*   ::: ROUNDED :::   */

/* nav */
.nav-bar {
    border-radius: 0.9rem;
}


/*   ::: GUIDES :::   */
/* : this a dynamic section for visualising the changes thanks to borders
 during the styling process, but has to be erased once the project achieved :::   */

:where(*:nth-child(odd)) {
    border: solid 1px red;
}

:where(*:nth-child(even)) {
    border: solid 1px darkcyan;
}

/* remove the borders from the sections you consider successfully finished */

header,
nav,
:is(header,nav) * {
    border: none;
}