/*   ::: RESET : default style for interbrowsers compatibility :::   */

:where(html) {
    scroll-behavior: smooth;
    z-index: 0;
}

:where(header,nav,main,section,article,footer,img) {
    width: 100%;
}

:where(*) {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

:where(ul,ol,dl) {
    list-style: none;
}

:where(li,dt,dd) {
    text-indent: none;
}

:where(li>a) {
    display: inline-block;
}

:where(img) {
    object-fit: cover;
}

:where(figure,fieldset,ul,ol,dl) {
    display: flex;
    justify-content: center;
}

:where(a,:any-link,:-moz-any-link) {
    color: black;
    text-decoration: none;
}

:where(::-webkit-search-cancel-button) {
    display: none;
}



/*   ::: COLORS :::   */

/* variables */
:root {
    --cream: #f4e4d6;
    --darkgreen: #333333;
    --lightgreen: #edefee;
}
/* backgrounds */

.lightgreen-bg {
    background-color: var(--lightgreen);
}

.darkgreen-bg {
    background-color: var(--darkgreen);
}

.darkgreen-bg * {
    background: none;
}

.cream-bg {
    background-color: var(--cream);
}

.cream-bg * {
    background: none;
}

/* text : contrast on background */
.cream-bg,
.lightgreen-bg [class*="txt"]{
    color: black;
}

.darkgreen-bg [class*="txt"] {
    color: var(--lightgreen);
}

.pasta-bg [class*="txt"] {
    color: white;
}

.card__link {
    color: blue;
}



/*   ::: FONTS :::   */

/* variables */
:root {
  --golden-ratio: 1.618;
  --nav-link-size: calc(var(--golden-ratio) * 1rem);
  --banner-title-size: calc(var(--nav-link-size) * var(--golden-ratio));
  --paragraph-size: calc(1rem * var(--golden-ratio) / 2);
}

.nav__link,
.card__title {
    font-size: var(--nav-link-size);
    font-weight: 500;
    text-shadow: 1px 0 black;
}

[class*="txt"] {
    font-family: 'Georgia', Helvetica, sans-serif;
}

article:is(p, a) {
    font-size: var(--paragraph-size);
    line-height: calc(var(--golden-ratio) * 1em);
}

.banner__title {
    font-size: var(--banner-title-size);
    font-weight: 900;
}

.card__link {
    text-decoration: underline blue;
}


/*   ::: SPACES :::   */

/* variables */
:root {
    --title-line-height: calc(var(--golden-ratio) * 2em);
}

/* titles */
[class*="title"] {
    line-height: var(--title-line-height);
    margin: 0;
}

/* page's margins */
body {
    padding: 3rem;
}

/* navbar */
.nav__bar {
    gap: 1rem;
}

/* footer items's spacement */

/* main */
main {
    padding-top: 1rem;
}

/* articles */
.card {
    padding: 1rem;
}

.banner {
    padding: 0 1rem 0 1rem;
}




/*   ::: CONTAINERS :::   */

/* variables */

/* flexboxes */
.nav__bar,
article
footer {
    display: flex;
}

.nav__bar {
    height: calc(var(--nav-link-size) * 2);
    align-items: center;
}

.schedule {
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin-left: 2rem;
}

.days {
    display: list-item;
    text-indent: 1fr;
}

/* grids */
body,
main {
    display: grid;
}

body {
    /* ! */
    grid-auto-rows: repeat(4, auto)
}

main {
    grid-template-areas: 
                        "b b b"
                        "c1 c2 c3";
    grid-gap: 1rem;
}



/*   ::: ITEMS :::   */

/* flex items */
.banner__txt {
    width: 75%;
    margin-top: 1rem;
}

/* grid cells */
.banner {
    grid-area: b
}

.card:nth-child(0) {
    grid-area: c1
}

.card:nth-child(1) {
    grid-area: c2
}

.card:nth-child(2) {
    grid-area: c3
}



/*   ::: IMAGES :::   */

#header__logo {
    width: calc(100% / var(--golden-ratio));
}

.pasta-bg {
    object-fit: cover;
    background-image: url(./images/pasta-bg.jpg);
    background-size: 120%;
    background-position: -200px -400px;
    box-shadow: inset 0 70px 70px rgba(25, 28, 26, 0.322);
}

.card__img {
    margin: 1rem 0 1rem 0;
}

.card figure {
    margin: 0;
}


/*   ::: ROUNDED :::   */

/* nav */
.nav__bar,
.banner,
.card {
    border-radius: 0.9rem;
}






/*   ::: GUIDES :::   */
/* : this a dynamic section for visualising the changes thanks to borders
 during the styling process, but has to be erased once the project achieved :::   */

:where(*:nth-child(odd)) {
    border: solid 1px red;
}

:where(*:nth-child(even)) {
    border: solid 1px darkcyan;
}

/* remove the borders from the sections you consider successfully finished */

header,
nav,
:is(header,nav) * {
    border: none;
}

.banner {
    background-color: teal;
}